body
{
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #eee;
}

/*标题*/
h3
{
    margin-top: 2%;
    text-align: center;
    font-size: 41px;
    color: white;
}

/*登录框总体样式*/
.form-horizontal
{
    padding-bottom: 30px;
    margin-top: 12%;
    text-align: center;

    border-radius: 15px;
    background: #fff;
    opacity: 0.67; 
}

/*标题：用户登录*/
.form-horizontal .heading
{
    font-size: 32px;
    font-weight: 450;

    display: block;

    margin-bottom: 30px;
    padding: 35px ;

    border-bottom: 1px solid #f0f0f0;
}

/* 输入框 */
.form-horizontal .form-group
{
    position: relative;

    margin: 0 0 25px 0;
    padding: 0 40px;
}
.form-horizontal .form-control
{
    height: 48px;
    font-size: 16px;
    padding: 0 20px 0 45px;

    transition: all .3s ease 0s;

    border: none;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow: none;
    position: relative;
}

/* 登录按钮 */
.form-horizontal .btn
{
    font-size: 18px;

    float: none;

    padding: 15px 205px;

    transition: all .5s ease 0s;
    text-transform: capitalize;

    color: #fff;
    border: none;
    border-radius: 30px;
    background: #00b4ef;
}


/*作者*/
h6
{
    padding-top: 12%;
    text-align: center;
    font-size: 20px;
    color: black;
}





