html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/

.bg {
	position:relative;
	display: table;
	width: 100%;
	height: 120%;
	padding: 100px 0;
	text-align: center;
	color: #fff;background: 
	url(../img/missionList/bg2.jpg) no-repeat bottom center;
	background-color: #000;
	background-size: 
	cover;
}

.btn1 {
	position:absolute;
	top:10%;
	left:50%;
	right:10%;
}


.btn {
  	font-size:22px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.table-responsive {
	font-size:17px;
	position:absolute;
	top:20%;
	left:50%;
	right:10%;
}

.my-navbar {
	font-size:17px;
	padding:20px 0;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.asd {
	font-size:30px;
}
  
   
.my-navbar a{
	background:
	transparent !important;
	color:#fff !important
}

.my-navbar a:hover {
	color:#45bcf9 !important;
	background:transparent;
	outline:0
}
    
.my-navbar a {
	transition: color 0.5s ease-in-out;
}/*-webkit-transition ;-moz-transition*/
        
.top-nav {
	padding:0;
	background:#000;
}

button.navbar-toggle {
	ackground-color:#fbfbfb;
}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/

button.navbar-toggle > span.icon-bar {background-color:#dedede}