<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
        </title>
        <meta charset="utf-8" />
        <script src="../static/js/jquery-1.11.3.js"></script>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/bootstrapfileinput/js/fileinput.min.js"></script>
        <script type="text/javascript" src="../static/bootstrapfileinput/js/fileinput_locale_zh.js"></script>
            
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/infomation.css">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top my-navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand  asd" href="index">SuriWeb</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="uploadMission">上传任务</a></li>
                        <li><a href="missionList">任务列表</a></li>
                        <li class="active"><a href="infomation">个人信息</a></li>
                        <li><a href="developing">施工中</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                    <li><a><span class="glyphicon glyphicon-user"></span>
                      Hi,{{current_user.username}}
                    </a>
                    </li>
                    <li>
                      <a href="logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                    </li>
                  {% else %}
                    <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg">
            <div class="inner-bg">
                <div class="container">
                    <p><strong>个人信息</strong></p>  
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            {% for message in get_flashed_messages() %}  
                            <form role="form" method="post" class="form-register">
                                <fieldset>
                                    <div class="form-top">
                                        <div class="form-top-left">
                                            
                                        </div>
                                        <div class="form-top-right">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="form-bottom">
                                        <div class="form-group">

                                            <input type="text" placeholder="用户名：{{message[0]}}" class="form-first-name form-control" id="register-userName" name = "rname" disabled>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="密码：******" class="form-password form-control" id="register-password" name = "rpassword">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="重复密码：******" 
                                            class="form-repeat-password form-control" id="register-repeat-password" name = "rrpassword">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="邮箱：{{message[1]}}" class="form-last-name form-control" id="mail" name = "rmail" disabled>
                                        </div>
                                        <div class="form-group">
                                            <textarea placeholder="个人简介：{{message[2]}}" class="form-about-yourself form-control" id="info-of-yourself" name = "rinfo"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default" onclick="changeInfo()">修改</button>
                                    </div>
                                </fieldset>
                            </form>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <script>
        $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {$(".navbar-fixed-top").addClass("top-nav");
        }else {$(".navbar-fixed-top").removeClass("top-nav");}
        })</script>
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="../static/js/jquery-1.11.3.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/changeInfo.js"></script>
    </body>
</html>
